*{padding: 0;margin: 0;box-sizing: border-box;}
h1{text-align: center; }
h1 img{position: absolute;left: 0%;}
h2{text-align: center;}
.content{ text-align: center;}
.content p{color: white; }
#felsosor{width: 100%;}
#felsosor .negyzet1, .negyzet2, .negyzet3{width: 100px;height: 100px;}

#kozepsosor{width: 
    100%; }
    #kozepsosor .negyzet4, .negyzet5, .negyzet6{width: 100px;height: 100px;}

#alsosor{width: 100%;}
#alsosor .negyzet7, .negyzet8, .negyzet9{width: 100px;height: 100px;}



.negyzet1,
.negyzet2,
.negyzet3,
.negyzet4,
.negyzet5,
.negyzet6,
.negyzet7,
.negyzet8,
.negyzet9{ border: 1px solid black; display: inline-block; font-size: xx-small; color: aliceblue;}

@media only screen and (max-width: 600px) {.content{margin-top:20%} h1 {text-align: right; right: 0%; }img{width: 30%;}}