* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  color: white;
  text-align: left;
  padding: 25%;
  padding-top: 0;
}
.logo{width:85%;}

.kezdokep {
  float: right;
  width: 25%;
  display: inline;
}
h1{width: auto;}
body {
  background-color: gray;
}

h2 {
  text-align: center;
  color: white;
}

h2 a {
  color: whitesmoke;
  text-decoration: none;
  float: left;

}

nav {
  width: 100%;
}

nav a {
  width: auto;
  padding: 10px;
  background-color: rgb(81, 78, 78);
  color: white;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 15px;
}

nav a:hover {
  background-color: rgb(62, 60, 60);
}

main {
  margin: 10%;
  color: rgb(167, 165, 165);
  background-color: rgb(179, 179, 179);
  width: 80%;
}

.visszagomb {
  border: 2px solid rgb(115, 113, 113);
  border-radius: 10px;
}

.visszagomb:hover {
  background-color: #595757;
}

main div {
  border: 2px solid greenyellow;
  border-style: outset;
  margin-top: 5%;
  padding: 20px;
}

main div p {
  float: left;
  width: 70%;
  color: white;
  text-transform: uppercase;
}

footer {
  text-align: center;
  background-color: rgb(51, 51, 51);
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  nav a {
    display: block;
    border-radius: 0;
  }
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

.social-links a:hover {
  color: #007bff;
}

h5 {
  color: black;
}

ul {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

ul li {
  list-style-type: none;
  display: inline;
  text-align: center;
  border-bottom: 2px solid greenyellow;
}